* {
  font-family: "regular";
}

@font-face {
  font-family: "regular700";
  src: url("./fontfamily/NeueMachina-Ultrabold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "regular";
  src: url("./fontfamily/NeueMachina-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  max-width: 1600px;
  height: 80px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #023247;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header img {
  height: 31px;
  width: 123px;
  left: 215px;
  top: 24px;
}

.header .leftbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.header .leftbar p {
  color: #FFFFFF;
  line-height: 15px;
}

.header .leftbar .leftbar2 {
  color: white;
  border: 1px solid white;
  height: 30px;
  width: 65px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .leftbar .leftbar2 img {
  height: 6px;
  width: 12px;
}

.header .leftbar .icon {
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.header .leftbar .icon img {
  width: 100%;
  height: 80%;
}

.top {
  max-width: 1600px;
  height: 681px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .right img {
  width: 80%;
  height: 70%;
}

.top .left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top .left h1 {
  color: #000000;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 51px;
}

.top .left p {
  font-family: Neue Machina;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.top .left button {
  background-color: #023247;
  height: 50px;
  width: 235px;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 44px;
}

.top .left img {
  position: relative;
  bottom: 90%;
  right: 60%;
}

.top .left .wrapper {
  height: 117px;
  max-width: 456px;
  margin-bottom: 44px;
}

.top .left .wrapper2 {
  height: 65px;
  width: 377px;
  line-height: 15.44px;
}

.bottom {
  max-width: 1600px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E7F3FF;
}

.bottom .left2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .left2 img {
  width: 80%;
  height: 70%;
}

.bottom .right2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom .right2 h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 34px;
}

.bottom .right2 .pdiv {
  height: 197px;
  max-width: 500px;
}

.thirdstage {
  max-width: 1600px;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#thirdstageh1 {
  font-family: Neue Machina;
  font-size: 35px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 60px;
}

.boxcontainer {
  max-width: 1200px;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxcontainer .box1 {
  height: 182px;
  max-width: 28%px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxcontainer .box1 h1 {
  font-family: Neue Machina;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
}

.boxcontainer .box1 p {
  font-family: Neue Machina;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 0px;
}

.boxcontainer .box2 {
  height: 182px;
  max-width: 28%px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxcontainer .box2 h1 {
  font-family: Neue Machina;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
}

.boxcontainer .box2 p {
  font-family: Neue Machina;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 0px;
}

.boxcontainer .box3 {
  height: 182px;
  max-width: 28%px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxcontainer .box3 h1 {
  font-family: Neue Machina;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
}

.boxcontainer .box3 p {
  font-family: Neue Machina;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 0px;
}

.fourthstage {
  max-width: 1600px;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourthstage h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 60px;
  margin-top: 0px;
}

.fourthstage .cover {
  max-width: 1200px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.fourthstage .cover .coverbox1 {
  height: 400px;
  max-width: 370px;
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 28px rgba(27, 27, 27, 0.15);
          box-shadow: 0px 0px 28px rgba(27, 27, 27, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.fourthstage .cover .coverbox1 .cover1 {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourthstage .cover .coverbox1 .cover1 img {
  width: 25%;
  height: 35%;
}

.fourthstage .cover .coverbox1 .cover2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourthstage .cover .coverbox1 .cover2 h1 {
  margin-bottom: 10px;
}

.fifthstage {
  max-width: 1600px;
  height: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fifthstage .fifthcover {
  max-width: 1200px;
  height: 850px;
}

.fifthstage .fifthcover .fiftop {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.fifthstage .fifthcover .fifbottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.fifthstage button {
  color: white;
  background-color: #023247;
  height: 50px;
  width: 170px;
  border-radius: 4px;
  margin-top: 20px;
}

.imgtop {
  width: 31%;
  height: 90%;
}

.imgbottom {
  width: 31%;
  height: 90%;
}

.sixthstage {
  max-width: 1600px;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.sixthstage .sixthcover {
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.sixthstage .sixthcover .sixbox1 {
  max-width: 30%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sixthstage .sixthcover .sixbox1 img {
  border: 50%;
  border-radius: 50%;
  width: 80%;
}

.sixthstage .sixthcover .sixbox1 p {
  margin-top: 0px;
}

.laststage {
  height: 352px;
  max-width: 1600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #023247;
}

.laststage .laststagecover {
  max-width: 1200px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.laststage .laststagecover .lastleft {
  height: 100%;
  max-width: 300px;
  margin-left: 10px;
}

.laststage .laststagecover .lastleft img {
  margin-top: 20px;
}

.laststage .laststagecover .lastright {
  max-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.laststage .laststagecover .lastright img {
  width: 60%;
}

.laststage .laststagecover .lastmiddle {
  height: 100%;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.laststage .laststagecover .lastmiddle .middle1 {
  max-width: 25%;
  height: 100%;
}

.laststage .laststagecover .lastmiddle .middle2 {
  max-width: 25%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0px;
}

.laststage .laststagecover .lastp {
  color: #FFFFFF;
  font-family: Neue Machina;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 30px;
}

.laststage .laststagecover #lasth1 {
  color: #FFFFFF;
}

.laststage .laststagecover #lastp2 {
  color: #E7F3FF;
  line-height: 33px;
}

.laststage #hr {
  max-width: 1200px;
  margin: 0 auto;
}

.laststage #lastp3 {
  color: #FFFFFF;
}

.laststage #hr1 {
  max-width: 1200px;
  margin: 0 auto;
}

.laststage #lastpp {
  color: #FFFFFF;
}

@media (min-width: 360px) and (max-width: 768px) {
  body {
    margin: 0px;
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 10px;
  }
  .header img {
    width: 109px;
    height: 27px;
  }
  .header .leftbar p {
    display: none;
  }
  .header .leftbar .icon {
    display: block;
  }
  .top {
    height: 1128px;
    max-width: 767.9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top .right {
    width: 100%;
  }
  .top .left {
    width: 100%;
  }
  .bottom {
    height: 801px;
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .bottom .left2 {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0px;
  }
  .bottom .left2 img {
    width: 80%;
  }
  .bottom .right2 {
    width: 100%;
    height: 35%;
    position: absolute;
  }
  .bottom .right2 h1 {
    margin-top: 60px;
  }
  .bottom .right2 .pdiv {
    max-width: 750px;
  }
  #boxcontainer {
    gap: 30px;
  }
  #coverbox1 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #coverbox2 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #coverbox3 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #coverh1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverh2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverh3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverp1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0px;
  }
  #coverp2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0px;
  }
  #coverp3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0px;
  }
  #img3 {
    display: none;
  }
  #imgtop {
    width: 48%;
  }
  #sixthstage {
    max-width: 770px;
    height: 1600px;
  }
  #sixthcover {
    max-width: 770px;
    height: 1600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  #sixthbox1 {
    max-width: 100%;
    height: 30%;
  }
  #laststage {
    height: 380px;
    max-width: 745px;
  }
  #lastp {
    font-size: 16px;
  }
  #lastp2 {
    font-size: 14px;
  }
  #lastp3 {
    font-size: 14px;
  }
  #lasth1 {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 10px;
  }
  .header img {
    width: 90px;
    height: 23px;
  }
  .header .leftbar p {
    display: none;
  }
  .header .leftbar .icon {
    display: block;
    height: 15px;
    width: 20px;
  }
  .header .leftbar .leftbar2 {
    height: 22px;
    width: 56px;
    position: absolute;
    right: 45px;
  }
  .top {
    height: 705px;
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top .right {
    width: 100%;
  }
  .top .left {
    width: 100%;
  }
  .bottom {
    height: 644px;
    max-width: 360px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .bottom .left2 {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0px;
  }
  .bottom .left2 img {
    width: 80%;
    height: 60%;
  }
  .bottom .right2 {
    width: 100%;
    height: 35%;
    position: absolute;
  }
  .bottom .right2 h1 {
    margin-top: 60px;
    height: 29px;
    width: 114px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .bottom .right2 .pdiv {
    max-width: 750px;
  }
  #ready {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    height: 74px;
    max-width: 265px;
  }
  #pdiv {
    height: 65px;
    max-width: 294px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0px;
  }
  #btn {
    height: 50px;
    width: 200px;
    border-radius: 10px;
  }
  #mainwrapper {
    max-width: 300px;
    background-color: #000000;
  }
  #topimg {
    width: 80%;
    height: 60%;
  }
  #thirdstageh1 {
    margin-top: 150px;
  }
  #boxcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 359px;
    height: 1000px;
    gap: 0px;
  }
  #fourthstage {
    max-width: 360px;
    height: 1000px;
  }
  #cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 360px;
    height: 1000px;
  }
  #fourthstageh1 {
    margin-top: 250px;
  }
  #coverh1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverh2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverh3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #023247;
    margin-bottom: 0px;
  }
  #coverbox1 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #coverbox2 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #coverbox3 {
    height: 244px;
    max-width: 226px;
    border-radius: 4px;
  }
  #fifthcover {
    max-width: 350px;
  }
  #fifthbottom {
    display: none;
  }
  #fifthtop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    height: 800px;
    margin-top: 30px;
  }
  #img3 {
    display: none;
  }
  #imgtop {
    width: 85%;
    height: 48%;
  }
  #gallery {
    margin-top: 200px;
  }
  #button1 {
    height: 40px;
    width: 136px;
    border-radius: 4px;
    color: #000000;
    background-color: #E7F3FF;
  }
  #wrapper2 {
    max-width: 350px;
  }
  #sixthstage {
    max-width: 350px;
    height: 1300px;
  }
  #sixthcover {
    max-width: 350px;
    height: 1300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  #sixthbox1 {
    max-width: 100%;
    height: 30%;
  }
  #sixh1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  #sixp1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }
  #sixh11 {
    margin-top: 80px;
  }
  #mainwrapper {
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 10px;
  }
  #left {
    max-width: 350px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #pdiv {
    max-width: 100%;
  }
  #wrapper2 {
    max-width: 100%;
    background-color: #FFFFFF;
  }
  #pbottom {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
  #laststage {
    height: 600px;
    max-width: 350px;
  }
  #laststagecover {
    height: 530px;
    max-width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lastleft {
    height: 33%;
    width: 80%;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #lastmiddle {
    width: 90%;
    height: 33%;
    margin-left: 22px;
    margin: 0 auto;
  }
  #lastright {
    width: 90%;
    height: 33%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hr {
    width: 80%;
  }
  #pdiv {
    max-width: 100%;
  }
  #mainwrapper {
    max-width: 90%;
  }
  #lasth1 {
    font-size: 14px;
  }
  #lastp2 {
    font-size: 14px;
  }
  #lastp {
    font-size: 14px;
  }
  #lastp3 {
    font-size: 9px;
    margin-left: 20px;
  }
  #lastp {
    font-size: 14px;
    margin-top: 16px;
  }
  #coverp1 {
    font-size: 12px;
  }
  #coverp2 {
    font-size: 12px;
  }
  #coverp3 {
    font-size: 12px;
  }
  #imgtopp {
    bottom: 290px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
  #btn:hover {
    background: conic-gradient(#023247, red, blue, yellow, purple);
    -webkit-box-shadow: 8px 8px 5px grey;
            box-shadow: 8px 8px 5px grey;
    -webkit-transform: scale(1.1) translateX(20px);
            transform: scale(1.1) translateX(20px);
  }
  #btn {
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  #imgtopp:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  #imgtopp {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-animation-iteration-count: 5;
            animation-iteration-count: 5;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  #topimg6:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}
/*# sourceMappingURL=figma.css.map */